Servidor/Logica/catalogoService.wsdl

<wsdl:definitions targetNamespace="http://localhost:6789/catalogoService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://localhost:6789/catalogoService"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:6789/catalogoService">
             <xsd:element name="crearCatalogoRequest" type="tns:crearCatalogoRequest"/>
            <xsd:element name="crearCatalogoResponse" type="tns:crearCatalogoResponse"/>
            <xsd:element name="borrarCatalogoRequest" type="tns:borrarCatalogoRequest"/>
            <xsd:element name="borrarCatalogoResponse" type="tns:borrarCatalogoResponse"/>
            <xsd:element name="modificarCatalogoRequest" type="tns:modificarCatalogoRequest"/>
            <xsd:element name="modificarCatalogoResponse" type="tns:modificarCatalogoResponse"/>
            <xsd:element name="traerCatalogosRequest" type="tns:traerCatalogosRequest"/>
            <xsd:element name="traerCatalogosResponse" type="tns:traerCatalogosResponse"/>
            <xsd:element name="asignarProductosRequest" type="tns:asignarProductosRequest"/>
            <xsd:element name="asignarProductosResponse" type="tns:asignarProductosResponse"/>
            <xsd:element name="traerProductosRequest" type="tns:traerProductosRequest"/>
            <xsd:element name="traerProductosResponse" type="tns:traerProductosResponse"/>
            <xsd:element name="desasignarProductosRequest" type="tns:desasignarProductosRequest"/>
            <xsd:element name="desasignarProductosResponse" type="tns:desasignarProductosResponse"/>
            <xsd:element name="traerNoProductosRequest" type="tns:traerNoProductosRequest"/>
            <xsd:element name="traerNoProductosResponse" type="tns:traerNoProductosResponse"/>

            <xsd:complexType name="crearCatalogoRequest">
                <xsd:sequence>
                    <xsd:element name="codigos" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="titulo" type="xsd:string"/>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="crearCatalogoResponse">
                <xsd:sequence>
                    <xsd:element name="archivoPDF" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="borrarCatalogoRequest">
                <xsd:sequence>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="borrarCatalogoResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="modificarCatalogoRequest">
                <xsd:sequence>
                    <xsd:element name="codigos" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="modificarCatalogoResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="asignarProductosRequest">
                <xsd:sequence>
                    <xsd:element name="codigos" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="asignarProductosResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="desasignarProductosRequest">
                <xsd:sequence>
                    <xsd:element name="codigos" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="desasignarProductosResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="producto">
                <xsd:sequence>
                    <xsd:element name="producto_codigo" type="xsd:string"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="talle" type="xsd:string"/>
                    <xsd:element name="foto" type="xsd:base64Binary"/>
                    <xsd:element name="color" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="catalogo">
                <xsd:sequence>
                    <xsd:element name="titulo" type="xsd:string"/>
                    <xsd:element name="productos" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="traerCatalogosRequest">
                <xsd:sequence>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="traerCatalogosResponse">
                <xsd:sequence>
                    <xsd:element name="catalogos" type="tns:catalogo" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="traerProductosRequest">
                <xsd:sequence>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="traerProductosResponse">
                <xsd:sequence>
                    <xsd:element name="productos" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="traerNoProductosRequest">
                <xsd:sequence>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="traerNoProductosResponse">
                <xsd:sequence>
                    <xsd:element name="productos" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="crearCatalogoRequestMessage">
        <wsdl:part name="request" element="tns:crearCatalogoRequest"/>
    </wsdl:message>

    <wsdl:message name="crearCatalogoResponseMessage">
        <wsdl:part name="response" element="tns:crearCatalogoResponse"/>
    </wsdl:message>

    <wsdl:message name="borrarCatalogoRequestMessage">
        <wsdl:part name="request" element="tns:borrarCatalogoRequest"/>
    </wsdl:message>

    <wsdl:message name="borrarCatalogoResponseMessage">
        <wsdl:part name="response" element="tns:borrarCatalogoResponse"/>
    </wsdl:message>

    <wsdl:message name="modificarCatalogoRequestMessage">
        <wsdl:part name="request" element="tns:modificarCatalogoRequest"/>
    </wsdl:message>

    <wsdl:message name="modificarCatalogoResponseMessage">
        <wsdl:part name="response" element="tns:modificarCatalogoResponse"/>
    </wsdl:message>

    <wsdl:message name="traerCatalogosRequestMessage">
        <wsdl:part name="request" element="tns:traerCatalogosRequest"/>
    </wsdl:message>

    <wsdl:message name="traerCatalogosResponseMessage">
        <wsdl:part name="response" element="tns:traerCatalogosResponse"/>
    </wsdl:message>

    <wsdl:message name="asignarProductosRequestMessage">
        <wsdl:part name="request" element="tns:asignarProductosRequest"/>
    </wsdl:message>

    <wsdl:message name="asignarProductosResponseMessage">
        <wsdl:part name="response" element="tns:asignarProductosResponse"/>
    </wsdl:message>

    <wsdl:message name="desasignarProductosRequestMessage">
        <wsdl:part name="request" element="tns:desasignarProductosRequest"/>
    </wsdl:message>

    <wsdl:message name="desasignarProductosResponseMessage">
        <wsdl:part name="response" element="tns:desasignarProductosResponse"/>
    </wsdl:message>

    <wsdl:message name="traerProductosRequestMessage">
        <wsdl:part name="request" element="tns:traerProductosRequest"/>
    </wsdl:message>

    <wsdl:message name="traerProductosResponseMessage">
        <wsdl:part name="response" element="tns:traerProductosResponse"/>
    </wsdl:message>

    <wsdl:message name="traerNoProductosRequestMessage">
        <wsdl:part name="request" element="tns:traerNoProductosRequest"/>
    </wsdl:message>

    <wsdl:message name="traerNoProductosResponseMessage">
        <wsdl:part name="response" element="tns:traerNoProductosResponse"/>
    </wsdl:message>

    <wsdl:portType name="catalogoServicePort">
        <wsdl:operation name="crearCatalogo">
            <wsdl:input message="tns:crearCatalogoRequestMessage"/>
            <wsdl:output message="tns:crearCatalogoResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="borrarCatalogo">
            <wsdl:input message="tns:borrarCatalogoRequestMessage"/>
            <wsdl:output message="tns:borrarCatalogoResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="modificarCatalogo">
            <wsdl:input message="tns:modificarCatalogoRequestMessage"/>
            <wsdl:output message="tns:modificarCatalogoResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="traerCatalogos">
            <wsdl:input message="tns:traerCatalogosRequestMessage"/>
            <wsdl:output message="tns:traerCatalogosResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="asignarProductos">
            <wsdl:input message="tns:asignarProductosRequestMessage"/>
            <wsdl:output message="tns:asignarProductosResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="traerProductos">
            <wsdl:input message="tns:traerProductosRequestMessage"/>
            <wsdl:output message="tns:traerProductosResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="desasignarProductos">
            <wsdl:input message="tns:desasignarProductosRequestMessage"/>
            <wsdl:output message="tns:desasignarProductosResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="traerNoProductos">
            <wsdl:input message="tns:traerNoProductosRequestMessage"/>
            <wsdl:output message="tns:traerNoProductosResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="catalogoServiceBinding" type="tns:catalogoServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="crearCatalogo">
            <soap:operation soapAction="http://example.com/Greeter/Greet"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="borrarCatalogo">
            <soap:operation soapAction="http://example.com/Catalogo/Borrar"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificarCatalogo">
            <soap:operation soapAction="http://example.com/Catalogo/Modificar"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="traerCatalogos">
            <soap:operation soapAction="http://example.com/Catalogo/Traer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="asignarProductos">
            <soap:operation soapAction="http://example.com/Catalogo/AsignarProductos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="traerProductos">
            <soap:operation soapAction="http://example.com/Catalogo/TraerProductos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="desasignarProductos">
            <soap:operation soapAction="http://example.com/Catalogo/DesasignarProductos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="traerNoProductos">
            <soap:operation soapAction="http://example.com/Catalogo/TraerNoProductos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="catalogoService">
        <wsdl:port name="catalogoServicePort" binding="tns:catalogoServiceBinding">
            <soap:address location="http://localhost:6789/catalogoService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
