Servidor/Logica/catalogoService.wsdl

<wsdl:definitions targetNamespace="http://localhost:9000/catalogoService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://localhost:9000/catalogoService"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:9000/catalogoService">
        
            <xsd:element name="crearCatalogoRequest" type="tns:crearCatalogoRequest"/>
            <xsd:element name="crearCatalogoResponse" type="tns:crearCatalogoResponse"/>
            <xsd:element name="borrarCatalogoRequest" type="tns:borrarCatalogoRequest"/>
            <xsd:element name="borrarCatalogoResponse" type="tns:borrarCatalogoResponse"/>
            <xsd:element name="modificarCatalogoRequest" type="tns:modificarCatalogoRequest"/>
            <xsd:element name="modificarCatalogoResponse" type="tns:modificarCatalogoResponse"/>

            <xsd:complexType name="crearCatalogoRequest">
                <xsd:sequence>
                    <xsd:element name="codigos" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="crearCatalogoResponse">
                <xsd:sequence>
                    <xsd:element name="archivoPDF" type="xsd:base64Binary"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="borrarCatalogoRequest">
                <xsd:sequence>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="borrarCatalogoResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="modificarCatalogoRequest">
                <xsd:sequence>
                    <xsd:element name="codigos" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="titulo" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="modificarCatalogoResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="crearCatalogoRequestMessage">
        <wsdl:part name="request" element="tns:crearCatalogoRequest"/>
    </wsdl:message>

    <wsdl:message name="crearCatalogoResponseMessage">
        <wsdl:part name="response" element="tns:crearCatalogoResponse"/>
    </wsdl:message>

    <wsdl:message name="borrarCatalogoRequestMessage">
        <wsdl:part name="request" element="tns:borrarCatalogoRequest"/>
    </wsdl:message>

    <wsdl:message name="borrarCatalogoResponseMessage">
        <wsdl:part name="response" element="tns:borrarCatalogoResponse"/>
    </wsdl:message>

    <wsdl:message name="modificarCatalogoRequestMessage">
        <wsdl:part name="request" element="tns:modificarCatalogoRequest"/>
    </wsdl:message>

    <wsdl:message name="modificarCatalogoResponseMessage">
        <wsdl:part name="response" element="tns:modificarCatalogoResponse"/>
    </wsdl:message>

    <wsdl:portType name="catalogoServicePort">
        <wsdl:operation name="crearCatalogo">
            <wsdl:input message="tns:crearCatalogoRequestMessage"/>
            <wsdl:output message="tns:crearCatalogoResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="borrarCatalogo">
            <wsdl:input message="tns:borrarCatalogoRequestMessage"/>
            <wsdl:output message="tns:borrarCatalogoResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="modificarCatalogo">
            <wsdl:input message="tns:modificarCatalogoRequestMessage"/>
            <wsdl:output message="tns:modificarCatalogoResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="catalogoServiceBinding" type="tns:catalogoServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="crearCatalogo">
            <soap:operation soapAction="http://example.com/Greeter/Greet"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="borrarCatalogo">
            <soap:operation soapAction="http://example.com/Catalogo/Borrar"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modificarCatalogo">
            <soap:operation soapAction="http://example.com/Catalogo/Modificar"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="catalogoService">
        <wsdl:port name="catalogoServicePort" binding="tns:catalogoServiceBinding">
            <soap:address location="http://localhost:9000/catalogoService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>