Servidor/Logica/filtroService.wsdl

<wsdl:definitions targetNamespace="http://localhost:9000/filtroService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://localhost:9000/filtroService"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:9000/filtroService">
            
            <xsd:element name="consultarOrdenesDeCompraRequest" type="tns:consultarOrdenesDeCompraRequest"/>
            <xsd:element name="consultarOrdenesDeCompraResponse" type="tns:consultarOrdenesDeCompraResponse"/>
            
            <xsd:complexType name="consultarOrdenesDeCompraRequest">
                <xsd:sequence>
                    <xsd:element name="producto_codigo" type="xsd:string"/>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                    <xsd:element name="fecha_inicio" type="xsd:string"/>
                    <xsd:element name="fecha_final" type="xsd:string"/>
                    <xsd:element name="estado" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="ordenDeCompra">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:integer"/>
                    <xsd:element name="estado" type="xsd:string"/>
                    <xsd:element name="observaciones" type="xsd:string"/>
                    <xsd:element name="fecha_de_solicitud" type="xsd:dateTime"/>
                    <xsd:element name="fecha_de_recepcion" type="xsd:dateTime"/>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                    <xsd:element name="producto_codigo" type="xsd:string"/>
                    <xsd:element name="cantidad_solicitada" type="xsd:integer"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="consultarOrdenesDeCompraResponse">
                <xsd:sequence>
                    <xsd:element name="ordenes" type="ordenDeCompra" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:element name="crearFiltroRequest" type="tns:crearFiltroRequest"/>
            <xsd:element name="crearFiltroResponse" type="tns:crearFiltroResponse"/>
            
            <xsd:complexType name="crearFiltroRequest">
                <xsd:sequence>
                    <xsd:element name="usuario" type="xsd:string"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="producto_codigo" type="xsd:string"/>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                    <xsd:element name="fecha_inicio" type="xsd:string"/>
                    <xsd:element name="fecha_final" type="xsd:string"/>
                    <xsd:element name="estado" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="crearFiltroResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:element name="modificarFiltroRequest" type="tns:modificarFiltroRequest"/>
            <xsd:element name="modificarFiltroResponse" type="tns:modificarFiltroResponse"/>
            
            <xsd:complexType name="modificarFiltroRequest">
                <xsd:sequence>
                    <xsd:element name="usuario" type="xsd:string"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="producto_codigo" type="xsd:string"/>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                    <xsd:element name="fecha_inicio" type="xsd:string"/>
                    <xsd:element name="fecha_final" type="xsd:string"/>
                    <xsd:element name="estado" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="modificarFiltroResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:element name="borrarFiltroRequest" type="tns:borrarFiltroRequest"/>
            <xsd:element name="borrarFiltroResponse" type="tns:borrarFiltroResponse"/>

            <xsd:complexType name="borrarFiltroRequest">
                <xsd:sequence>
                    <xsd:element name="usuario" type="xsd:string"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="borrarFiltroResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    

    <wsdl:message name="consultarOrdenesDeCompraRequestMessage">
        <wsdl:part name="request" element="tns:consultarOrdenesDeCompraRequest"/>
    </wsdl:message>
    
    <wsdl:message name="consultarOrdenesDeCompraResponseMessage">
        <wsdl:part name="response" element="tns:consultarOrdenesDeCompraResponse"/>
    </wsdl:message>

    <wsdl:message name="crearFiltroRequestMessage">
        <wsdl:part name="request" element="tns:crearFiltroRequest"/>
    </wsdl:message>
    
    <wsdl:message name="crearFiltroResponseMessage">
        <wsdl:part name="response" element="tns:crearFiltroResponse"/>
    </wsdl:message>
    
    <wsdl:message name="modificarFiltroRequestMessage">
        <wsdl:part name="request" element="tns:modificarFiltroRequest"/>
    </wsdl:message>

    <wsdl:message name="modificarFiltroResponseMessage">
        <wsdl:part name="response" element="tns:modificarFiltroResponse"/>
    </wsdl:message>

    <wsdl:message name="borrarFiltroRequestMessage">
        <wsdl:part name="request" element="tns:borrarFiltroRequest"/>
    </wsdl:message>

    <wsdl:message name="borrarFiltroResponseMessage">
        <wsdl:part name="response" element="tns:borrarFiltroResponse"/>
    </wsdl:message>


    <wsdl:portType name="filtroServicePort">

        <wsdl:operation name="consultarOrdenesDeCompra">
            <wsdl:input message="tns:consultarOrdenesDeCompraRequestMessage"/>
            <wsdl:output message="tns:consultarOrdenesDeCompraResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="crearFiltro">
            <wsdl:input message="tns:crearFiltroRequestMessage"/>
            <wsdl:output message="tns:crearFiltroResponseMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="modificarFiltro">
            <wsdl:input message="tns:modificarFiltroRequestMessage"/>
            <wsdl:output message="tns:modificarFiltroResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="borrarFiltro">
            <wsdl:input message="tns:borrarFiltroRequestMessage"/>
            <wsdl:output message="tns:borrarFiltroResponseMessage"/>
        </wsdl:operation>

    </wsdl:portType>
    
    <wsdl:binding name="filtroServiceBinding" type="tns:filtroServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <wsdl:operation name="consultarOrdenesDeCompra">
            <soap:operation soapAction="http://example.com/consultarOrdenesDeCompra"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="crearFiltro">
            <soap:operation soapAction="http://example.com/crearFiltro"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="modificarFiltro">
            <soap:operation soapAction="http://example.com/modificarFiltro"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="borrarFiltro">
            <soap:operation soapAction="http://example.com/borrarFiltro"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    
    <wsdl:service name="filtroService">
        <wsdl:port name="filtroServicePort" binding="tns:filtroServiceBinding">
            <soap:address location="http://localhost:9000/filtroService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
