Servidor/Logica/filtroService.wsdl

<wsdl:definitions targetNamespace="http://localhost:9000/filtroService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://localhost:9000/filtroService"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:9000/filtroService">
            
            <xsd:element name="crearFiltroRequest" type="tns:crearFiltroRequest"/>
            <xsd:element name="crearFiltroResponse" type="tns:crearFiltroResponse"/>
            
            <xsd:complexType name="crearFiltroRequest">
                <xsd:sequence>
                    <xsd:element name="usuario" type="xsd:string"/>
                    <xsd:element name="nombre" type="xsd:string"/>
                    <xsd:element name="producto_codigo" type="xsd:string"/>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                    <xsd:element name="fecha_inicio" type="xsd:string"/>
                    <xsd:element name="fecha_final" type="xsd:string"/>
                    <xsd:element name="habilitado" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="crearFiltroResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="crearFiltroRequestMessage">
        <wsdl:part name="request" element="tns:crearFiltroRequest"/>
    </wsdl:message>
    
    <wsdl:message name="crearFiltroResponseMessage">
        <wsdl:part name="response" element="tns:crearFiltroResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="filtroServicePort">
        <wsdl:operation name="crearFiltro">
            <wsdl:input message="tns:crearFiltroRequestMessage"/>
            <wsdl:output message="tns:crearFiltroResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="filtroServiceBinding" type="tns:filtroServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="crearFiltro">
            <soap:operation soapAction="http://example.com/crearFiltro"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="filtroService">
        <wsdl:port name="filtroServicePort" binding="tns:filtroServiceBinding">
            <soap:address location="http://localhost:9000/filtroService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
