Servidor/Logica/ordenesDeCompraService.wsdl

<wsdl:definitions targetNamespace="http://localhost:9000/ordenesDeCompraService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://localhost:9000/ordenesDeCompraService"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost:9000/ordenesDeCompraService">
            
            <xsd:element name="consultarOrdenesDeCompraRequest" type="tns:consultarOrdenesDeCompraRequest"/>
            <xsd:element name="consultarOrdenesDeCompraResponse" type="tns:consultarOrdenesDeCompraResponse"/>
            
            <xsd:complexType name="consultarOrdenesDeCompraRequest">
                <xsd:sequence>
                    <xsd:element name="producto_codigo" type="xsd:string"/>
                    <xsd:element name="tienda_codigo" type="xsd:string"/>
                    <xsd:element name="fecha_inicio" type="xsd:string"/>
                    <xsd:element name="fecha_final" type="xsd:string"/>
                    <xsd:element name="habilitado" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="consultarOrdenesDeCompraResponse">
                <xsd:sequence>
                    <xsd:element name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="consultarOrdenesDeCompraRequestMessage">
        <wsdl:part name="request" element="tns:consultarOrdenesDeCompraRequest"/>
    </wsdl:message>
    
    <wsdl:message name="consultarOrdenesDeCompraResponseMessage">
        <wsdl:part name="response" element="tns:consultarOrdenesDeCompraResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="ordenesDeCompraServicePort">
        <wsdl:operation name="consultarOrdenesDeCompra">
            <wsdl:input message="tns:consultarOrdenesDeCompraRequestMessage"/>
            <wsdl:output message="tns:consultarOrdenesDeCompraResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ordenesDeCompraServiceBinding" type="tns:ordenesDeCompraServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consultarOrdenesDeCompra">
            <soap:operation soapAction="http://example.com/consultarOrdenesDeCompra"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ordenesDeCompraService">
        <wsdl:port name="ordenesDeCompraServicePort" binding="tns:ordenesDeCompraServiceBinding">
            <soap:address location="http://localhost:9000/ordenesDeCompraService"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>